{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - Portfolio{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('about') }}
{% endblock %}

{% block content %}
    {{ include('pages/about/partials/_hero.html.twig') }}
    <h2 class="home-subtitle"> Mes compétences </h2>
    {{ include('pages/about/partials/_skills.html.twig') }}
{% endblock %}
