@import "variables";

/* Global Footer */


html footer {
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

footer {
  background: rgb(121,182,210);
  background: linear-gradient(90deg, rgba(121,182,210,1) 0%, rgb(133, 164, 203) 100%);
  * {
    color: white;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.footer-img {
  object-fit: contain;
}

.footer-part {
  margin: 0;
}

.network, .sitemap {
  width: 30%;

  @media (max-width: $tablet) {
    width: 100%;
  }
}

.mention {
  width: 40%;

  @media (max-width: $tablet) {
    width: 100%;
    order: 3;
  }
}

/* Network Part */

.footer-part.network {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 10px), 1fr));
  gap: 10px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  @media (max-width: $mobile) {
    padding: 20px 0;
  }
  @media (max-width: $fold-mobile) {
    width: 100%;
  }

  .network-block {
    list-style: none;
    text-align: center;
    padding: 15px;
    margin: 5px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    img {
      width: 50px;
      height: 50px;
      object-fit: fill;
    }

    @media (max-width: $fold-mobile) {
      padding: 5px;
      margin: 2px;

      img {
        width: 40px;
        height: 40px;
        object-fit: fill;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
      display: block;
      margin-bottom: 5px;
    }
  }
}

/* Mention Part */

.mention {
  text-align: center;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  @media (max-width: $tablet) {
    padding: 20px 0;
  }
  @media (max-width: $mobile) {
    font-size: 0.8em;
  }
  @media (max-width: $fold-mobile) {
    font-size: 0.6em;
  }
}

/* Sitemap Part */

.footer-part.sitemap {
  padding: 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 20px 0;
  }

  p.footer-title {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  .sitemap-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 1.1em;
    flex: 0.5;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}