@import "reset";
@import "variables";
@import "custom_trix";

@font-face {
  font-family: 'HuLi-Regular';
  src: url('../../fonts/HuLi-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Alpino-Regular';
  src: url('../../fonts/GeneralSans-Regular.woff2') format('woff2');
}

/* Global layout */

.title-font {
  font-family: 'HuLi-Regular', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  font-family: 'Alpino-Regular', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  position: relative;
  overflow: hidden;
}

/* Tools for all pages */

.bold {
  font-weight: 700;
  color: $violet;
}
.bg-g,
.bg-w {
  width: 100%;
  padding: 20px 0;
}
.bg-g {
  background-color: $gray-light;
}
.bg-w {
  background-color: #ffffff;
}
.separator-wg {
  width: 0;
  height: 0;
  border-bottom: 40px solid $gray-light;
  border-left: 100vw solid transparent;
  overflow: hidden;
}

.page-mw {
  max-width: 1400px;
  margin: 0 auto;
}

.text-gray {
  color: $text-gray;
  font-size: 1.2rem;
  line-height: 1.2;
}

.button {
  color: $violet;
  position: relative;
  display: block;
  overflow: hidden;
  height: 70px;
  width: 250px;
  margin: 1rem auto;
  font-size: 1rem;
  background-color: white;
  border: 1px solid $violet;
  transition: 0.4s;
  z-index: 5;
  border-radius: 10px;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid $violet;
    transform: translateX(-100%);
    transition: 0.4s;
  }

  &:hover {
    color: white;

    &:before {
      transform: translateX(0);
      z-index: -1;
    }
  }
}