@import "reset";

@font-face {
  font-family: 'HuLi-Regular';
  src: url('../../fonts/HuLi-Regular.ttf') format('truetype');
}

/* Global layout */

.title-font {
  font-family: 'HuLi-Regular', sans-serif;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  position: relative;
}