// create variable for mobile size

$small-desktop: 1400px;
// tablet or half desktop screen size
$tablet: 1024px;
// classic mobile size
$mobile: 750px;
// small mobile size like foldable phone
$foldmobile: 350px;
