/* screen sizes */

$small-desktop: 1400px;
$tablet: 1024px;
$mobile: 750px;
$fold-mobile: 350px;

/* colors */

$violet: #8A5fff;
$light-violet: #d1c3f3;
$blue: #9dccea;
$gray-light: #eeeeee;
$text-black: #020202;
$text-gray: #181818;

/* other variables */

$color-force: 0.7;
