<nav>
    <img src="{{ asset('images/logo.png') }}" alt="Logo">
    <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Réalisations</a></li>
        <li><a href="#">Compétences</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>