@import "../../partials/footer";
@import "../../partials/layout";
@import "../../partials/navbar";
@import "../../partials/render-wysiwyg";
@import "hero";

.project-view-hero .project-hero-content {
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  @media (max-width: $tablet) {
    width: 60%;
  }
  @media (max-width: $mobile) {
      width: 80%;
  }
  @media (max-width: $fold-mobile) {
      width: 90%;
  }

  .description {
    font-size: 1.7rem;
    font-weight: 400;

    *[class^="trix-"] {
      color: white;
    }

    @media (max-width: $tablet) {
      font-size: 1.5rem;
    }
    @media (max-width: $mobile) {
      font-size: 1.3rem;
    }
    @media (max-width: $fold-mobile) {
      font-size: 1.1rem;
    }
  }
}

/* Project View part */
section {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  max-width: 1225px;
  display: flex;
  position: relative;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
  @media (max-width: $fold-mobile) {
    padding: 10px;
  }

  &.ImageRight {
    .img {
      max-width: 50%;
      margin: 20px 0 20px 20px;
      @media (max-width: $tablet) {
        max-width: 100%;
        margin: 20px auto;
        max-height: 650px;
      }
    }
    .text-content {
      max-width: 100%;
      padding: 20px 20px 20px 0;
      @media (max-width: $tablet) {
        padding: 20px 5px;
      }
    }
  }
  &.ImageLeft {
    .img {
      max-width: 50%;
      margin: 20px 20px 20px 0;
      @media (max-width: $tablet) {
        max-width: 100%;
        margin: 20px auto;
        max-height: 650px;
      }
    }
    .text-content {
      max-width: 100%;
      padding: 20px 0 20px 20px;
      @media (max-width: $tablet) {
        padding: 20px 5px;
      }
    }
  }
  &.AllImage {
    .img {
      max-width: 100%;
      margin: 20px auto 20px;
      @media (max-width: $tablet) {
        max-width: 100%;
        margin: 20px auto;
        max-height: 650px;
      }
    }
    .text-content {
      max-width: 100%;
      @media (max-width: $tablet) {
        padding: 20px 5px;
      }
    }
  }
  &.AllText {
    .text-content {
      max-width: 100%;
      padding: 20px;
      @media (max-width: $tablet) {
        padding: 20px 5px;
      }
    }
  }

  img {
    max-height: 500px;
    object-fit: contain;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }

  .text-content {
    flex: 1;
    min-width: 50%;
    justify-content: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-self: center;
    font-size: 1.3rem;
    color: #020202;
    line-height: 1.5em;
  }
}
/* Skills part */
.project-skills {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 8;
  display: flex;
  min-width: max-content;
  transform: translateX(-50%);
  padding: 5px;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 8px;

  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }

  .project-skills-img{
    img {
      width: 50px;
      height: 50px;
      margin: 5px;
      border-radius: 5px;

      @media (max-width: $mobile) {
        width: 35px;
        height: 35px;
      }

      @media (max-width: $fold-mobile) {
        width: 25px;
        height: 25px;
        margin: 1px;
      }
    }
  }
}

/* Hashtags part */
.project-view-footer {
  margin-bottom: 50px;
  .project-view-footer-hashtags {
    min-height: 25px;
    max-width: 1225px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color : #6c63ff;
    flex-wrap: wrap;

    span {
      margin: 2px 5px;
    }
  }
}