{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - Portfolio{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'pages/home/partials/_hero.html.twig' %}

    </div>
{% endblock %}
