{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - Portfolio{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block content %}
    {% include 'pages/home/partials/_hero.html.twig' %}
    {% include('pages/home/partials/_presentation.html.twig') %}
    <div class="separator-wg"></div>
    <div class="bg-g">
        <div class="home-part">
            <div class="home-wrapper page-mw">
                <h2 class="home-subtitle title-font" data-aos="fade-up"> {{ "home.title.service"| trans({}, 'home') }}</h2>
            </div>
            {% include('pages/home/partials/_services.html.twig') %}
        </div>
    </div>
    <div class="bg-w">
        <div class="home-part">
            <div class="home-wrapper page-mw">
                <h2 class="home-subtitle title-font" data-aos="fade-up"> {{ "home.title.skills"| trans({}, 'home') }}</h2>
            </div>
            {% include('pages/home/partials/_skills.html.twig') %}
        </div>
    </div>
{% endblock %}
