@import "../partials/footer.scss";
@import "../partials/layout.scss";
@import "../partials/navbar.scss";
@import "../partials/variables.scss";

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../images/banner-background.png') no-repeat center center fixed;
  background-size: cover;
  height: 30vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(212, 227, 255, 0.9);
  }
}

.container {
  width: 80vw;
  margin: 50px auto;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  min-height: 70vh;
  display: flex;

  .form-wrapper {
    flex: 1;
    padding: 20px;
    width: 100%;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }

  h1,h2,h3 {
    font-weight: 700;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
    margin: 0 0 20px;
  }
  h3 {
    margin: 5px 0;
  }
  p, li, h3{
    font-size: 1.1em;
    line-height: 1.4;
  }
  p {
    text-align: justify;
  }
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  &> div {
    margin: 25px 0;
    &> div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  label {
    font-weight: 700;
    font-size: 0.9em;
    margin: 10px 0 2px;
  }
  input, textarea {
      padding: 10px;
      border: 1px solid #575757;
      border-radius: 5px;
      font-size: 1em;
  }
  textarea {
    resize: vertical;
  }
  button {
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    color: #575757;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #575757;
    border-radius: 10px;
    &:hover {
      background-color: darken(white, 10%);
      border: 1px solid darken(white, 10%);
      color: black;
    }
  }
}
