@import "../partials/footer.scss";
@import "../partials/layout.scss";
@import "../partials/navbar.scss";
@import "../partials/variables.scss";

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../images/banner-background.png') no-repeat center center fixed;
  background-size: cover;
  height: 30vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(212, 227, 255, 0.9);
  }
}

.container {
  width: 80vw;
  margin: 50px auto;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  min-height: 70vh;
  display: flex;

  @media (max-width: $small-desktop) {
    width: 95vw;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  @media (max-width: $foldmobile) {
    padding: 10px;
  }

  .form-wrapper {
    flex: 1;
    padding: 20px;
    width: 100%;
    @media (max-width: $tablet) {
      padding: 5px;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  h1,h2,h3 {
    font-weight: 700;
    @media (max-width: $tablet) {
      text-align: center;
      margin: 20px 0;
    }
  }
  h1 {
    font-size: 2em;

    @media (max-width: $foldmobile) {
      font-size: 1.75em;
    }
  }
  h2 {
    font-size: 1.75em;
    margin: 0 0 20px;
    @media (max-width: $tablet) {
      text-align: center;
      margin: 30px 0;
    }

    @media (max-width: $foldmobile) {
      font-size: 1.5em;
    }
  }
  h3 {
    margin: 5px 0;
  }
  p, li, h3{
    font-size: 1.1em;
    line-height: 1.4;
    @media (max-width: $tablet) {
      text-align: center;
    }

    @media (max-width: $foldmobile) {
      font-size: 0.9em;
    }
  }
  p {
    text-align: justify;
    @media (max-width: $tablet) {
      text-align: center;
    }
  }
}

.alert {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;

  &.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }

  &.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  &> div {
    margin: 25px 0;
    &> div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  label {
    font-weight: 700;
    font-size: 0.9em;
    margin: 10px 0 2px;

    @media (max-width: $foldmobile) {
      font-size: 0.75em;
    }
  }
  input, textarea {
      padding: 10px;
      border: 1px solid #575757;
      border-radius: 5px;
      font-size: 1em;

    @media (max-width: $foldmobile) {
      font-size: 0.9em;
    }
  }
  textarea {
    resize: vertical;
  }
  button {
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    color: #575757;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #575757;
    border-radius: 10px;
    &:hover {
      background-color: darken(white, 10%);
      border: 1px solid darken(white, 10%);
      color: black;
    }

    @media (max-width: $mobile) {
        width: 100%;
    }
  }
}
