@import "../partials/footer.scss";
@import "../partials/layout.scss";
@import "../partials/navbar.scss";
$color-force: 0.7;

header {
  position: relative;
  width: 100%;

  .swiper {
    width: 100%;
    height: 450px;

    &-slide {

      .img-avatar {
        position: absolute;
        right: 20%;
        bottom: 0;
        height: 85%;
        width: auto;
      }

      .circle {
        position: absolute;
        right: 20%;
        transform: translate(35%, 0);
        bottom: auto;
        top: auto;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background-color: white;
      }

      &.slide-1 .circle {
        background-color: #d1c3f3;
      }

      .slide-text-wrapper {
        position: absolute;
        left: 15%;
        bottom: auto;
        top: auto;
        transform: translateY(50%);
      }

      .img-console {
        position: absolute;
        right: 20%;
        bottom: auto;
        top: auto;
        height: 275px;
        width: auto;
        transform: translate(-75px, 0);
      }

      .title, .subtitle {
        color: black;
        font-family: Inter, sans-serif;
        margin: 0 0 10px 20px;
      }
      .title {
        font-weight: 700;
        font-size: 32px;
      }
      .subtitle {
        font-size: 28px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -10;
      }

      &.slide-1::before {
        background-color: rgba(147, 164, 231, $color-force);
      }

      &.slide-2::before {
        background-color: rgba(219, 177, 234, $color-force);
      }

      &.slide-3::before {
        background-color: rgba(155, 203, 232, $color-force);
      }

      &.slide-4::before {
        background-color: rgba(219, 171, 222, $color-force);
      }

      display: flex;
      justify-content: center;
      align-items: center;
      background: url('../../images/banner-background.png') no-repeat center center fixed;
      background-size: cover;
      position: relative;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 0 5px;
    transition: 0.3s;

    &-active {
      width: 30px;
    }
  }
}