{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - Site en maintenance{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Maintenance</h1>
            </div>
        </div>
    </div>
{% endblock %}
