{% extends 'base.html.twig' %}

{% block body %}
    <div class="layout-container">
        {% block header %}
        <header>
            <h1>Header</h1>
        </header>
        {% endblock %}
        <main>
        {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'partials/_footer.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}