{% extends 'base.html.twig' %}

{% block title %}Vincent RÉMY - Portfolio{% endblock %}

{% block body %}
    <div class="layout-container">
        {% block header %}
            {% include 'partials/_navbar.html.twig' %}
        {% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>

        {% block footer %}
            {% include 'partials/_footer.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}