<div class="button-container">
    <a>
        <button class="btn-multicolor">
            {{ "about.meetme.button.contactme" | trans({}, 'about') }}
        </button>
    </a>

    <a>
        <button class="btn-multicolor">
            {{ "about.meetme.button.mycv" | trans({}, 'about') }}
        </button>
    </a>
</div>