<div class="button-container">
    <a href="{{ path('portfolio_contact') }}">
        <button class="btn-multicolor">
            {{ "about.meetme.button.contactme" | trans({}, 'about') }}
        </button>
    </a>

    <a href="{{ cvLink }}" target="_blank">
        <button class="btn-multicolor">
            {{ "about.meetme.button.mycv" | trans({}, 'about') }}
        </button>
    </a>
</div>