<div class="skill-grid">
    {% for skill in skillGroups %}
        <div class="skill-group">
            <p>{{ skill.customName }}</p>
            <progress value="{{ skill.acquiredPercentage }}" max="100">{{ skill.acquiredPercentage }}%</progress>
        </div>
    {% endfor %}
</div>

<details class="skill-explanation">
    <summary>Voir les détails des niveaux de compétence</summary>
    <ul class="skill-explanation-content">
        <li>0% : Jamais entendu parler de ce sujet.</li>
        <li>25% : Connaissance de base, mais pas de grosse expérience pratique.</li>
        <li>50% : Connaissance intermédiaire, avec une expérience pratique sur quelques projets.</li>
        <li>75% : Bonne connaissance, avec une expérience pratique sur plusieurs projets et la capacité de comprendre comment fonctionne le sujet en plus de l'utiliser.</li>
        <li>100% : Maîtrise complète du sujet, avec une expérience approfondie et la capacité de restituer le sujet à d'autres personnes avec aisance.</li>
    </ul>
</details>

