<div class="project-hero">
    <div class="project-hero-content">
        <h1 class="title">Mes realisations</h1>
        <p class="description"> Voici une sélection de projets que j'ai eu le privilège de diriger ou de contribuer activement</p>
    </div>
</div>