{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - Portfolio{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}

{% block content %}
    <div class="hero">
        <div></div>
    </div>
    <div class="container">
       <div class="form-wrapper">
           <h1>Me contacter</h1>
           <p>
               Besoin d’en savoir plus ? Envie d’avancer ensemble ? <br />
               Vous pouvez me contacter, c’est juste en dessous !
           </p>
       </div>
       <aside>
           <div>
               <h2>Coordonnées</h2>
               <ul>
                   <li>Adresse : 1 rue de la Paix, <br /> 75000 Paris</li>
                   <li>Téléphone : 01 23 45 67 89</li>
                   <li>Email : vincentremy222@gmail.com</li>
               </ul>
           </div>
           <div>
               <h2>Mentions légales</h2>
               <p>
                   Ce site est édité par Vincent REMY, <br />
                   1 rue de la Paix, 75000 Paris
               </p>
           </div>
           <div>
               <h2>FAQ</h2>
               <h3>Quels sont vos disponibilités ?</h3>
               <p>
                   Je suis actuellement en mission et je ne serai pas disponible avant fin octobre 2022. Vous pouvez toutefois faire une demande de devis afin de prévoir en amont un planning et réserver un créneau pour le développement de votre projet.
               </p>
               <h3>Quels sont vos tarifs ?</h3>
               <p>
                   La tarification dépend du projet et surtout du temps qui sera nécessaire pour le mener à bien. À titre indicatif mon tarif journalier moyen se situe aux alentour de 700€/jour.
               </p>
               <h3>Effectuez-vous des missions en Agence ?</h3>
               <p>
                   J'effectue l'ensemble de mes missions à distance.
               </p>
           </div>
       </aside>
    </div>
{% endblock %}
