<div class="presentation-section">
    <div class="presentation presentation-about">
        <img src="{{ asset('images/home/presentation-about.svg') }}" alt="name" class="presentation-image">
        <div class="presentation-right">
            <p class="presentation-title">titre</p>
            <p>content</p>
        </div>
    </div>
    <div class="presentation presentation-skill">
        <img src="{{ asset('images/home/presentation-skill.svg') }}" alt="name" class="presentation-image">
        <div class="presentation-right">
            <p class="presentation-title">titre</p>
            <p>content</p>
        </div>
    </div>
    <div class="presentation presentation-passion">
        <img src="{{ asset('images/home/presentation-passions.svg') }}" alt="name" class="presentation-image">
        <div class="presentation-right">
            <p class="presentation-title">titre</p>
            <p>content</p>
        </div>
    </div>
    <div class="presentation presentation-realization">
        <img src="{{ asset('images/home/presentation-realization.svg') }}" alt="name" class="presentation-image">
        <div class="presentation-right">
            <p class="presentation-title">titre</p>
            <p>content</p>
        </div>
    </div>
</div>