{# En attendant les fixtures #}

<div class="services-swiper swiper">
    <div class="swiper-wrapper">
        {% for i in 1..10 %}
            <div class="service-card swiper-slide">
                <div class="service-card-header">
                    <p class="service-card-title">Realisation {{ i }}</p>
                    <p class="service-card-subtitle">lorem ipsum</p>
                </div>
                <p class="service-card-description">lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
            </div>
        {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>