<div class="skills-swiper swiper">
    <div class="swiper-wrapper">
        {% for i in 1..25 %}
            <div class="swiper-slide">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/280px-C_Programming_Language.svg.png" alt="logo">
            </div>
        {% endfor %}
    </div>
</div>